<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookManagerServlet</display-name>
    <servlet-name>BookManagerServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.BookManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookManagerServlet</servlet-name>
    <url-pattern>/BookManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookClientServlet</display-name>
    <servlet-name>BookClientServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.BookClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClientServlet</servlet-name>
    <url-pattern>/BookClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KaptchaServlet</display-name>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <description>边框线颜色</description>
      <param-name>kaptcha.border.color</param-name>
      <param-value>red</param-value>
    </init-param>
    <init-param>
      <description>验证码生成的字符字库</description>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>黑体</param-value>
    </init-param>
    <init-param>
      <description>验证码生成的字符个数</description>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <description>验证码生成的字符之间的间距</description>
      <param-name>kaptcha.textproducer.char.space</param-name>
      <param-value>15</param-value>
    </init-param>
    <init-param>
      <description>验证码生成的字符存到session中的key</description>
      <param-name>kaptcha.session.key</param-name>
      <param-value>codeKey</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/code.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClientServlet</display-name>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 登录过滤器 -->
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.atguigu.bookstore.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<!-- 所有进入到 OrderClientServlet 的请求，都需要经过LoginFilter-->
  	<servlet-name>OrderClientServlet</servlet-name>
  </filter-mapping>
  
  <!-- 字符编码过滤器 -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.atguigu.bookstore.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 事务过滤器 -->
  <filter>
  	 <filter-name>TransactionFilter</filter-name>
  	 <filter-class>com.atguigu.bookstore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
  	 <filter-name>TransactionFilter</filter-name>	
  	 <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
</web-app>